<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pokemon-wrapper">
    @if (isLoading) {
    <ion-spinner name="crescent" class="ion-center"></ion-spinner>
    } @if (!isLoading && favoritePokemons.length > 0) {
    <div class="pokemon-grid">
      @for (pokemon of favoritePokemons; track pokemon.id) {
      <div class="pokemon-item">
        <ion-card
          class="pokemon-card ion-text-center"
          [ngStyle]="{ background: getCardColor(pokemon.types) }"
          (click)="goToDetails(pokemon.id)"
        >
          <img [src]="pokemon.image" [alt]="pokemon.name" />
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
            @if (pokemon.types?.length > 0) {
            <ion-card-subtitle>
              @for (type of pokemon.types; track type; let last = $last) {
              {{ type | titlecase }}@if (!last) {<span>, </span>} }
            </ion-card-subtitle>
            }
          </ion-card-header>
        </ion-card>
      </div>
      }
    </div>
    } @if (!isLoading && favoritePokemons.length === 0) {
    <div class="no-favorites-message ion-padding ion-text-center">
      <div class="no-favorites-title">Nenhum pokémon favoritado</div>
      <div class="no-favorites-desc">
        Toque no <ion-icon name="heart" class="inline-heart"></ion-icon> em um
        pokémon para adicioná-lo aos favoritos!
      </div>
    </div>
    }
  </div>
</ion-content>
