<ion-header>
  <ion-toolbar class="pokemon-toolbar">
    <ion-title class="pokemon-title">Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pokemon-wrapper">
    @if (pokemonList.length === 0 && isLoading) {
    <ion-spinner name="crescent" class="ion-center"></ion-spinner>
    } @if (pokemonList.length > 0) {
    <div class="pokemon-grid">
      @for (pokemon of pokemonList; track pokemon.id) {
      <div class="pokemon-item">
        <ion-card
          class="pokemon-card ion-text-center"
          [ngStyle]="{ background: getCardColor(pokemon.types) }"
          (click)="goToDetails(pokemon.id)"
        >
          <img [src]="pokemon.image" [alt]="pokemon.name" />
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
            @if (pokemon.types) {
            <ion-card-subtitle>
              @for (type of pokemon.types; track type; let last = $last) {
              {{ type | titlecase }}<span *ngIf="!last">, </span>
              }
            </ion-card-subtitle>
            }
          </ion-card-header>
        </ion-card>
      </div>
      }
    </div>
    }

    <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="onIonInfinite($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        [loadingText]="isAllLoaded ? 'Não há mais Pokémons' : 'Carregando mais…'"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
