<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="onSearch($event)"
    placeholder="Buscar Pokémon por nome"
    showClearButton="focus"
    debounce="300"
    inputmode="search"
    aria-label="Buscar Pokémon"
  ></ion-searchbar>
  @if (suggestions.length > 0) {
  <ul class="suggestions-list" role="listbox">
    @for (name of suggestions; track name) {
    <li (click)="selectSuggestion(name)" role="option" tabindex="0">
      {{ name | titlecase }}
    </li>
    }
  </ul>
  }
</ion-header>

<ion-content>
  <div class="pokemon-wrapper">
    @if (pokemonList.length === 0 && isLoading) {
    <ion-spinner name="crescent" class="ion-center"></ion-spinner>
    } @if (filteredPokemonList.length > 0) {
    <div class="pokemon-grid">
      @for (pokemon of filteredPokemonList; track pokemon.id) {
      <div class="pokemon-item">
        <ion-card
          class="pokemon-card ion-text-center"
          [ngStyle]="{ background: getCardColor(pokemon.types) }"
          (click)="goToDetails(pokemon.id)"
        >
          <img [src]="pokemon.image" [alt]="pokemon.name" />
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
            @if (pokemon.types) {
            <ion-card-subtitle>
              @for (type of pokemon.types; track type; let last = $last) {
              {{ type | titlecase }}@if (!last) {<span>, </span>} }
            </ion-card-subtitle>
            }
          </ion-card-header>
        </ion-card>
      </div>
      }
    </div>
    } @if (!isLoading && filteredPokemonList.length === 0 && pokemonList.length
    > 0) {
    <div class="ion-text-center no-pokemon-message">
      Nenhum Pokémon encontrado.
    </div>
    }

    <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="onIonInfinite($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        [loadingText]="
          isAllLoaded ? 'Não há mais Pokémons' : 'Carregando mais…'
        "
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
